*{

}

.grid{
    display: grid;
    grid-template-columns: 320px 200px;
}

.right-column{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}