/* #### Fonts for my Game #### */

@font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold ☞'), url('fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('fonts/Gilroy-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('fonts/Gilroy-Light.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('fonts/Gilroy-Regular.woff') format('woff');
}
/*Normal css*/
*{
    background-color: #F2BB13;
    margin: 0;
    padding: 0;
    color: #403221;
}
#bigContainer{
    box-sizing: border-box;
    padding-top: 30px;
}
#mainColums{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
}
#holdBox{
    background-color: red;
    display: grid;
    height: 196px;
    width: 112px;
    grid-template-rows: 28px 168px;
    border: solid 4px #403221;
    border-radius: 5px;
}
#holdBox a{
    font-family: 'Gilroy-Medium ☞';
    font-size: 26px;
    background-color: #F6D7BB;
    text-align: center;
}
#holdBoard{

    background-color: blue;

}
#nextBox{
    background-color: #FFF3E3;
    display: grid;
    grid-template-rows: 28px 448px;
    border: solid 4px #403221;
    height: 476px;
    width: 112px;
    border-radius: 5px;
}
#nextBox a{
    font-family: 'Gilroy-Medium ☞';
    background-color: #F6D7BB;
    font-size: 26px;
    text-align: center;
}
#nextBoard{
    background-color: red;
}
#leftColum{
    grid-column: 2/span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#instructionBox{
    background-color: #D1A214;
    grid-row: 2/span 1;
    display: grid;
    grid-template-rows: 150px 100px 100px;
    border-radius: 5%;
    height: 85%;
    font-family: 'Gilroy-Heavy ☞';
    font-size: 20px;
}
#movement{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #D1A214;
    border-radius: 5%;
    padding-top: 5%;
    margin: auto;
}
.key{
    height: 60px;
    width: 60px;
    border-radius: 30%;
}
.instructionsLetter{
    color: #D1A214;
    background-color: transparent;
}
#wKey{
    grid-column: 2 /span 1;
    margin-bottom: 5px;
}
#wLetter{
    margin-left: 30%;
}
#aKey{
    grid-row: 2 /span 1;
    margin-right: 10px;
}
#aLetter{
    margin-left: 40%;
}
#sKey{
    grid-row: 2 /span 1;
    grid-column: 2/ span 1;
}
#sLetter{
    margin-left: 40%;
}
#dKey{
    grid-row: 2 /span 1;
    grid-column: 3/ span 1;
    margin-left: 3px;
}
#dLetter{
    margin-left: 40%;
}
#jKey{
    margin-left: 30%;
}
#jLetter{
    margin-left: 40%;
}
#nKey{
    margin-left: 30%;
}
#nLetter{
    margin-left: 40%;
}
#mKey{
    margin-left: 5px;
}
#mLetter{
    margin-left: 40%;
}

#especialKeys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #D1A214;
    padding-top: 15%;
}
#helpButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    padding-top: 20%;
}




#mainGameDiv{
    grid-column: 4/span 6;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#rightColum{
    grid-column: 10/span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#bottomRight{
    grid-row: 2/span 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: right;
}
#score\&mainBoardCont{
    display: grid;
    grid-template-rows: 94% 4%;
}
#mainBoard{
    border: solid 4px #403221;
    border-radius: 5px;
}
#currentScore{
    font-family: 'Gilroy-Bold ☞';
    font-style: italic;
    font-size: 46px;
    color: #FFF3E3;

}
#levelTxt{
    font-family: 'Gilroy-Medium ☞';
    font-style: italic;
    font-size: 80px;
}
#ScoreBox{
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Gilroy-Light ☞';
    font-style: italic;
    font-size: 30px;
}
#tetrisText{
    font-family: 'Gilroy-Light ☞';
    font-size: 64px;
}
.material-icons{
    background-color: transparent;
    color: #403221;
    font-size: 50px;
    margin-left: 25%;
}

